.page6 {
    height: 491px;

    /* Brand / Turquoise */

    background: #2EC5CE;

    /* Inside auto layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    position: relative;
}

.phoneMockup1 {
    position: absolute;
    width: 232px;
    height: 464px;
    left: 779px;
    top: 0px;

    /* Mobile Mockup Shadow */

    filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}

.iphoneX {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.screenX {
    z-index: -1;
    position: absolute;
    left: 6.51%;
    right: 6.28%;
    top: 0%;
    bottom: 2.56%;
}

.phoneMockup2 {
    position: absolute;
    width: 232px;
    height: 315px;
    left: 1043px;
    bottom: 0px;

    /* Mobile Mockup Shadow */

    filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}

.screenX2 {
    z-index: -1;
    position: absolute;
    left: 6.51%;
    right: 6.28%;
    top: 2.56%;
    bottom: 0%;
}