.secondPage {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 165px;
    gap: 48px;

    /* Default / White */

    background-color: white;

    /* Inside auto layout */


}

.sectionHeading {
    /* Section Heading */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;
    gap: 8px;

    width: 540px;
    height: 136px;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.sectionTitleH {
    width: 540px;
    height: 64px;

    /* Heading / H2 */

    font-family: 'Inter', sans-serif;
    font-style:normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.secondTitleP {
    /* Description */


    width: 540px;
    height: 64px;

    /* Lead / Lead 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* end of title*/

.my_icon {
    width: 32px;
    height: 32px;
}

.rowItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 350px;
    height: 148px;

    border-radius: 8px;
}

.rowDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 350px;
    height: 92px;
}

.rowH {
    /* Heading / H5 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;
}

.rowP {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;
}

.listRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 1110px;
    height: 148px;
}

.featuresList {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    width: 1110px;
    height: 360px;

}