.page5 {
    display: flex;
    flex-direction: column;

    padding: 64px 165px;
    gap: 48px;
    height: 704px;

    /* Default / White */



    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}


.page5Details {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;

    width: 1110px;
    height: 128px;


    /* Inside auto layout */
    position:relative;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.page5Details h3 {
    /* Section Title */


    width: 540px;
    height: 108px;

    /* Heading / H3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    /* or 135% */

    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.page5Details p {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis scelerisque at quam congue posuere libero in sit quam. Consequat, scelerisque non tincidunt sit lectus senectus. */


    width: 540px;
    height: 128px;

    /* Lead / Lead 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.coverImagePg5 {
    width: 1110px;
    height: 400px;

    background: url(.jpg);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}